:root {
  --yellow: #f7a400;
  --sky-blue: #3a9efd;
  --light-blue: #3e4491;
  --blue: #292a73;
  --dark-blue: #292a73;
}
body{
  background-color: var(--blue);
}

.App {
  /* text-align: center; */
  width: 60%;
  margin:auto;
  color:var(--dark-blue);
  padding: 20px;
}

.budget-container{
  margin:auto;
  padding: 0px 10px 20px 10px;
 box-shadow: 0px 0px 10px var(--sky-blue);
 background-color: var(--yellow);
 border-radius: 15px;
}

.allocation-container{
  margin:auto;
  /* display:flex; */
  padding: 0px 10px 10px 10px;
 box-shadow: 0px 0px 10px var(--sky-blue);
 background-color: var(--yellow);
 border-radius: 15px;
}

.change-container{
  margin:auto;
  /* margin-top: 10px; */
  padding: 0px 10px 10px 10px;
 box-shadow: 0px 0px 10px var(--sky-blue);
 background-color: var(--yellow);
 border-radius: 15px;
}

.b-subcontainer{
  display:flex;
  padding-right:10px;
}
.b{
  padding: 10px;
  margin-right: 15px;
}

.a-subcontainer{
  display:flex;
  /* padding:10px; */
}

.a{
  padding: 10px;
  margin-right: 15px;
}

.c-subcontainer{
  display:flex;
  /* padding:10px; */
}

.c{
  padding: 10px;
  margin-right: 15px;
}

.btn-save{
  background-color: var(--sky-blue);
  box-shadow: 0px 0px 5px var(--sky-blue);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  width:75px;
  height: 30px;
}
.btn-calc{
  font-size: 18px;
  border: none;
  border-radius: 16px;
  width:35px;
  height: 30px;
}
input, select{
  width:110px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}








